body {font-family: 'Staatliches', cursive;}
#wrap {width: 100vw;}
#header {z-index: -10; width: 100vw; height: 75vw;  background: url(https://fulcrum.rocks/images/tild3364-6530-4161-b832-663131623938__bg.svg); background-size: cover; background-position: center center;}
#content1 {width: 100vw; height: 25vw;}
#content2 {width: 100vw; height: 75vw; background: url(https://fulcrum.rocks/images/tild3039-3864-4439-a235-383736623966__bg2.svg); background-size: cover; background-position: center center;}
#content3 {width: 100vw; height: 75vw; background: #06161c;}
#content4 {width: 100vw; height: 75vw; background: url(https://fulcrum.rocks/images/tild3364-6530-4161-b832-663131623938__bg.svg); background-size: cover;}

/* site */
#content5 {width: 100vw; height: 10vw;padding: 5px;}
#content6 {width: 100vw; height: 35vw; background: url(./img/site\ background01.png);}
#content7 {width: 100vw; background: #ECC448; z-index: -1000;}
#content8 {width: 100vw; height: 40.8vw; background: url(./img/site\ background03.png);}
/* animation */
#content9 {width: 100vw; height: 20vw;}
#content10 {position: relative; width: 100vw; height: 35vw; background: url(./img/ani\ background01.png);}
#content10 .white {display: block; position: absolute; top: 2%; left: 30%;}
#content10 .yellow {display: block; position: absolute; top: 55%; left: -5%;}
#content11 {width: 100vw; background: #DC516A;}
#content12 {position: relative; width: 100vw; height: 48.7vw; background: url(./img/ani\ background03.png);}
#content12 .white {display: block; position: absolute; top: 12%; left: 30%;}
#content12 .yellow {display: block; position: absolute; top: 55%; left: -5%;}
#content13 {width: 100vw; height: 20vw;}
/* script */
#content14 {width: 100vw; height: 40vw; background: url(./img/script\ background.png);}
#content15 {width: 100vw;background: #06161c;}

/* footer */
#footer {width: 100vw; height: 104vh; background: #06161c;}
#footer_top {width: 100vw; height: 50vh; background: #06161c;}
#footer_mid {width: 100vw; background: #06161c;}
#footer_bom {width: 100vw; background: #06161c;}

/* container */
.container {width: 1518px; margin: 0 auto; /*background: rgba(0,0,0,0.5);*/}

/* header */
.header_top {position: relative;}
.top_left {position: absolute; left: 65px; top: 72px; font-family: 'Six Caps', sans-serif; font-size: 40px;  color: #ECC448;}
.top_right {position: absolute; right: 100px; top: 72px; overflow: hidden;  font-size: 22px; color: #fff;}
.top_right > div {margin: 0 30px; float: left;}
.top_right > div:last-child {text-align: center;  width: 150px; height: 30px; border: 1px solid #1b85e6; background: #1b85e6; border-radius: 30px; padding: 8px 0;}

.header_cont { font-size: 180px; line-height: 0.5; margin-left: 200px; margin-top: 220px; display: inline-block; }
.header_cont .tite {}
.header_cont .tite .yellow {color: #ECC448; position: relative; display: inline-block; margin-bottom: 4vw; z-index: 2;}
.header_cont .tite .pink {margin-left: 85px; color: #DC516A;}
.header_cont .tite .white {margin-left: 450px; color: #fff;}
.header_cont .tite img { width: 200px; height: 200px; position: absolute; left: 340px; top: 120px; z-index: 0;}
.header_cont .machine {overflow: hidden;}
.header_cont .machine > img {position: relative;}
.header_cont .machine > img:nth-child(1) {position: absolute; top: 90.5%; left: 47%; transform: translate(-50%, -50%); display: block;}
.header_cont .machine > img:nth-child(3) {position: absolute; top: 123%; left: 50%; transform: translate(-50%, -50%); display: block;}
.header_cont .machine > img:nth-child(2) {position: absolute; top: 101%; left: 50%; transform: translate(-50%, -50%); display: block;}

/* cont1 */
.cont1 {position: relative;}
.cont1_title { position: absolute; top: -300px; left: 300px; width: 1023px; font-size: 180px; display: block; overflow: hidden;}
.cont1_title .yellow {margin-top: 22vw; color: #ECC448; }
.cont1_title .pink{ float: left; color: #DC516A; display: block;}
.cont1_title .pink .black {float:left; color: #000; display: block;}
.cont1_title .sub {margin-left: 30px; color: #000; font-family: 'S-CoreDream-3Light'; font-size: 30px; width: 700px; margin-left: 200px; display: block;}
.cont1_icon {}
.cont1_icon > img{position: relative;}
.cont1_icon > img:nth-child(1){width: 194px; height: 204px; position: absolute; top: 270px; left: 1100px; z-index: -1;}
.cont1_icon > img:nth-child(2){width: 108px; height: 114px; position: absolute; top: -200px; left: 1100px; z-index: -1;}
.cont1_icon > img:nth-child(3){width: 108px; height: 114px; position: absolute; top: 560px; left: 10px; z-index: -1;}
.cont1_icon > img:nth-child(4){width: 113px; height: 113px; position: absolute; top: 100px; left: 230px; z-index: -1;}

/* cont2 */
.cont2 {position: relative;}
.cont2 .cont2_title { position: absolute; top: 35vw; left: -5vw; overflow: hidden;}
.cont2 .cont2_title img { float:left; width: 194px; height: 194px; display: inline-block; z-index: -1;}
.cont2 .cont2_title h2 { margin-left: -5vw; margin-top: 2vw;  float: left; font-size: 200px;  color: #fff; display: inline-block; z-index: 2;}


/* cont3 */
.cont3 { color: #fff;}

.cont3 .cont3_top {margin-top: -500px; overflow: hidden; margin-bottom: 100px;}
.cont3 .cont3_top .c3top_text {float: left; margin-right: 120px;}
.cont3 .cont3_top .c3top_text h3 {font-family: 'S-CoreDream-9Black'; font-size: 45px;}
.cont3 .cont3_top .c3top_text p {width: 800px; height: 400px; font-family: 'S-CoreDream-2ExtraLight'; font-size: 30px; font-weight: 200; line-height: 1.5;}
.cont3 .cont3_top img {float: left; width: 500px; height: 500px; border-radius: 50%; display: block;}


.cont3 .cont3_bot {overflow: hidden; }
.cont3 .cont3_bot img {position: relative; float: left; width: 700px; height: 700px; border-radius: 50%; z-index: 2;}
.cont3 .cont3_bot img:nth-child(2) {margin-left: -11vw; width: 200px; height: 200px; z-index: 0;}
.cont3 .cont3_bot .c3bot_text {float: left; margin-left: 165px; margin-top: 100px; display: inline-block;}
.cont3 .cont3_bot .c3bot_text h3 {font-family: 'S-CoreDream-9Black'; font-size: 45px;}
.cont3 .cont3_bot .c3bot_text p {width: 650px; height: 384px; font-family: 'S-CoreDream-2ExtraLight'; font-size: 30px; font-weight: 200; line-height: 1.5;}


/* cont4 */
.cont4{color: #fff; overflow: hidden;}

.cont4 h3 {position: relative; float: left; font-size: 140px; z-index: 2; display:inline-block; margin-top: 3.5vw;}
.cont4 img {float: left; width: 194px; height: 194px; z-index: 0; display:inline-block; margin-left: -5vw;}
.cont4 .boxes {overflow: hidden; display: inline-block; }
.cont4 .boxes > div {margin-right: 19px;}
.cont4 .boxes > div:last-child {margin-right: 0;}
.cont4 .box01 {float:left; width: 493px; height: 493px; background: #132026;}
.cont4 .box01 h4 {margin-top: 34px; margin-left: 32px; font-size: 40px; color: #0085ff;}
.cont4 .box01 p {width: 437px; height: 356px; margin-top: 21px; margin-left: 32px; font-family: 'S-CoreDream-2ExtraLight'; font-size: 30px;}
.cont4 .box02 {float:left; width: 493px; height: 493px; background: #132026;}
.cont4 .box02 h4 {margin-top: 34px; margin-left: 32px; font-size: 40px; color: #0085ff;}
.cont4 .box02 p {width: 437px; height: 356px; margin-top: 21px; margin-left: 32px; font-family: 'S-CoreDream-2ExtraLight'; font-size: 30px;}
.cont4 .box03 {float:left; width: 493px; height: 493px; background: #132026;}
.cont4 .box03 h4 {margin-top: 34px; margin-left: 32px; font-size: 40px; color: #0085ff;}
.cont4 .box03 p {width: 437px; height: 315px; margin-top: 21px; margin-left: 32px; font-family: 'S-CoreDream-2ExtraLight'; font-size: 30px; }

/* cont5 */
.cont5 {}
.cont5 .cont5_title {overflow: hidden; width: 2000px; font-size: 200px; margin-left: 300px;}
.cont5 .cont5_title > div {margin-right: 30px;}
.cont5 .cont5_title .yellow {float:left; color:#ECC448;}
.cont5 .cont5_title .pink {float:left; color:#DC516A;}
.cont5 .cont5_title .black {float:left; color:black;}
.cont5 .cont5_icon {position: relative;}
.cont5 .cont5_icon > img {}
.cont5 .cont5_icon > img:nth-child(1) {width: 200px;  position: absolute; top: -300px; left: 80px; }
.cont5 .cont5_icon > img:nth-child(2) {width: 224px; height: 224px; position: absolute; top: -330px; left: 1050px;}
.cont5 .cont5_icon > img:nth-child(3) {width: 250px; position: absolute; top: 0px; left: 0px;}
.cont5 .cont5_icon > img:nth-child(4) {width: 300px;  position: absolute; top: -2vw; left: 1000px;}

/* cont7 */
.cont7 {}
.cont7 > div:nth-child(odd) {}
.cont7 > div:nth-child(odd) h3 {font-family: 'Racing Sans One', cursive; font-size: 180px; display: flex; flex-direction: row-reverse; margin-bottom: 2vw;}

.cont7 > div:nth-child(odd) .box {position: relative; z-index: 2; overflow: hidden; display: flex; flex-direction: row; margin-top: -46vw;}
.cont7 > div:nth-child(odd) .box img {float: left; margin-right: 45px; flex: 0 0 30%; width: 735px; height: 844px; border: 6px solid #000; background: #fff; display: inline-block; padding: 15px; }
.cont7 > div:nth-child(odd) .box .text {float: left; flex: 0 0 30%; margin-top: 175px; width: 578px; height: 712px; border: 6px solid #000; background: #fff;  padding: 70px 50px; box-sizing: border-box; display: inline-block;}
.cont7 > div:nth-child(odd) .box .text h4 {font-family: 'S-CoreDream-6Bold'; font-size: 40px; font-weight: bold; line-height: 0.8; text-align: left; }
.cont7 > div:nth-child(odd) .box .text p {width: 434px; height: 306px; margin-top: 43px; margin-bottom: 49px; font-family: 'S-CoreDream-3Light'; font-size: 30px;}
.cont7 > div:nth-child(odd) .box .quick {display: flex; flex-direction: column;}
.cont7 > div:nth-child(odd) .box .quick a {margin-top: 11px; width: 242px; height: 68px; border: 4px solid #DC516A; padding: 16px 60px; font-family: 'S-CoreDream-3Light'; color:#DC516A; box-sizing: border-box;}
.cont7 > div:nth-child(odd) .pink {}
.cont7 > div:nth-child(odd) .pink p {z-index: -1; margin-left: 12vw; width: 740px;  height: 974px; background: #DC516A; border: 6px solid #000; color: #fff; font-family: 'S-CoreDream-3Light'; font-size: 40px; font-weight: 300; padding: 20px 150px; box-sizing: border-box; display: inline-block;}
.cont7 > div:nth-child(odd) {}
.cont7 > div:nth-child(odd) h3 {font-family: 'Racing Sans One', cursive; font-size: 180px; display: flex; flex-direction: row-reverse;}



.cont7 > div:nth-child(even) {margin-top: 8vw;}
.cont7 > div:nth-child(even) h3 {font-family: 'Racing Sans One', cursive; font-size: 180px; display: flex; flex-direction: row;  margin-bottom: 2vw;}

.cont7 > div:nth-child(even) .box {position: relative; z-index: 2; overflow: hidden; display: flex; flex-direction: row-reverse; margin-top: -46vw;}

.cont7 > div:nth-child(even) .box .text {float: left; flex: 0 0 30%; margin-top: 175px; width: 578px; height: 712px; border: 6px solid #000; background: #fff;  padding: 70px 50px; box-sizing: border-box; display: inline-block;}
.cont7 > div:nth-child(even) .box .text h4 {font-family: 'S-CoreDream-6Bold'; font-size: 40px; font-weight: bold; line-height: 0.8; text-align: left; }
.cont7 > div:nth-child(even) .box .text p {width: 434px; height: 306px; margin-top: 43px; margin-bottom: 49px; font-family: 'S-CoreDream-3Light'; font-size: 30px;}
.cont7 > div:nth-child(even) .box .quick {display: flex; flex-direction: column;}
.cont7 > div:nth-child(even) .box .quick a {margin-top: 11px; width: 242px; height: 68px; border: 4px solid #DC516A; padding: 16px 60px; font-family: 'S-CoreDream-3Light'; color:#DC516A; box-sizing: border-box;}
.cont7 > div:nth-child(even) .box img {float: left; margin-left: 45px; flex: 0 0 30%; width: 735px; height: 844px; border: 6px solid #000; background: #fff; display: inline-block; padding: 15px; }
.cont7 > div:nth-child(even).pink {}
.cont7 > div:nth-child(even) .pink p {z-index: -1; margin-left: 12vw; width: 740px;  height: 974px; background: #DC516A; border: 6px solid #000; color: #fff; font-family: 'S-CoreDream-3Light'; font-size: 40px; font-weight: 300; padding: 20px 120px; box-sizing: border-box; display: inline-block;}

/* cont9 */
.cont9 {}
.cont9 .cont9_title {width: 855px; overflow: hidden; font-size: 200px; margin-left: 300px;}
.cont9 .cont9_title .pink {float: left; color: #DC516A;}
.cont9 .cont9_title .black {float: left; color: #000;}
.cont9 .cont9_title .yellow {margin-left: 57px; color:#ECC448;}
.cont9 .cont9_icon {position: relative;}
.cont9 .cont9_icon > img {}
.cont9 .cont9_icon > img:nth-child(1) {width: 170px; height: 190px; position: absolute; top: -40vw; left: 60vw;}
.cont9 .cont9_icon > img:nth-child(2) {width: 190px; height: 190px; position: absolute; top: -30vw; left: 10vw; z-index: -1;}
.cont9 .cont9_icon > img:nth-child(3) {width: 176px; height: 232px; position: absolute; top: -2vw; left: 2vw;}
.cont9 .cont9_icon > img:nth-child(4) {width: 161px; height: 214px; position: absolute; top: -15vw; left: 60vw;}

/* animation cont11 */
.cont11 {}
.cont11 > div:nth-child(odd) {display: flex; overflow: hidden; margin-bottom: 400px;}
.cont11 > div:nth-child(odd) iframe {flex: 0 0 60%; float:left; border: 0; width: 1000px; height: 550px; border-radius: 300px;}
.cont11 > div:nth-child(odd) .left {flex: 0 0 23%; float:left;  margin-left: 19px; }
.cont11 > div:nth-child(odd) .left h4 {width: 331px; height: 169px; font-size: 90px; line-height: 1; color: #ECC448; display: block;}
.cont11 > div:nth-child(odd) .left p {position: relative; margin-top: 50px; margin-bottom: 170px; width: 500px; height: 115px; font-weight: 200; line-height: 1; font-family: 'S-CoreDream-2ExtraLight'; font-size: 22px; display: block;}
.cont11 > div:nth-child(odd) .left a {position: relative; z-index: 1; width: 237px; height: 60px; display: inline-block; padding: 12px 80px; box-sizing: border-box; font-size: 25px; color: #fff; border: 1px solid #1b85e6; font-family: 'Teko', sans-serif; background: #1b85e6;}
/* .cont11 > div:nth-child(1) .left .arrow {position: relative; z-index: 2; width: 193px; height: 180px; background: #dc516a; display: inline-block;}
.cont11 > div:nth-child(1) .left .star {z-index: -1; width: 115px; height: 123px; margin-left: 20vw; margin-bottom: 15vw; display: inline-block;} */

.cont11 > div:nth-child(even) {display: flex; overflow: hidden; margin-bottom: 400px;}
.cont11 > div:nth-child(even) .right {flex: 0 0 23%; float:left;  margin-left: 19px; }
.cont11 > div:nth-child(even) .right h4 {width: 331px; height: 169px; font-size: 90px; line-height: 1; color: #ECC448; display: block;}
.cont11 > div:nth-child(even) .right p {margin-top: 50px; margin-bottom: 173px; width: 500px; height: 115px; font-weight: 200; line-height: 1; font-family: 'S-CoreDream-2ExtraLight'; font-size: 22px; display: block;}
.cont11 > div:nth-child(even) .right a {width: 237px; height: 60px; padding: 12px 80px; box-sizing: border-box; font-size: 25px; color: #fff; border: 1px solid #1b85e6; font-family: 'Teko', sans-serif; color:#fff; background: #1b85e6;}
.cont11 > div:nth-child(even) iframe {flex: 0 0 60%; float:left; border: 0; width: 1000px; height: 550px; border-radius: 300px;}

.cont11 > div:nth-child(8) .right h4 {width: 331px; height: 250px; font-size: 90px; line-height: 1; color: #ECC448; display: block;}
.cont11 > div:nth-child(8) .right p {margin-top: 50px; margin-bottom: 90px; width: 500px; height: 115px; font-weight: 200; line-height: 1; font-family: 'S-CoreDream-2ExtraLight'; font-size: 22px; display: block;}

.cont11 > div:last-child {margin-bottom: 0;}

/* cont13 */
#content13 img { margin-top: 9vw;}
.cont13 {}
.cont13 .title {position: relative;}
.cont13 .title .text {position: absolute; top: 5vw; left: 30vw; transform: translate(-20%, -40%); font-size: 200px; display: block; z-index: 2;}
.cont13 .title .text .pink {color: #DC516A;}
.cont13 .title .text .black { float: left; color: #000; display: inline-block;}
.cont13 .title .text .yellow {float: left; color: #ECC448; margin-left: 1.2vw; display: inline-block;}
.cont13 .title .shadow {position: absolute; top: 5vw; left: 30vw; transform: translate(-18%, -38%); color: #6b6365; font-size: 200px; display: inline-block; z-index: -1;}
.cont13 .icon {position: relative;}
.cont13 .icon .star {width: 224px; z-index: -2; position: absolute; top: -2vw; right: 4.9vw;}
.cont13 .icon .turn {width: 396px; position: absolute; top: -25vw; right: 0; transform: rotate(165deg);}

/* cont15 */
.cont15 {}
.cont15 > div:nth-child(odd) {overflow: hidden; margin-bottom: 293px;}
.cont15 > div:nth-child(odd) iframe {border: 6px solid transparent; border-image: linear-gradient(to top, #ee4368, #f4c41a); border-image-slice: 1; box-sizing: border-box; float:left; width: 1007px; height: 557px; flex: 0 0 55%; display: inline-block; margin-right: 15px;}
.cont15 > div:nth-child(odd) .text {float: left; flex: 0 0 30%; display: inline-block;}
.cont15 > div:nth-child(odd) .text h3{display: inline-block; font-size: 70px; background: linear-gradient(to top, #ee4368, #f4c41a) !important ; -webkit-background-clip: text !important; color: transparent; font-weight: bold;}
.cont15 > div:nth-child(odd) .text p {width: 495px; height: 217px; margin-bottom: 36px; font-size: 22px; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}
.cont15 > div:nth-child(7) .text p {display: inline-block;}
.cont15 > div:nth-child(9) .text p {display: inline-block;}
.cont15 > div:nth-child(odd) .text  .quick {display: inline-block; margin-top: 20px;}
.cont15 > div:nth-child(odd) .text  .quick > div {}
.cont15 > div:nth-child(odd) .text .quick h4 {font-size: 25px; color: #999797; line-height: 1; margin-bottom: 5px;}
.cont15 > div:nth-child(odd) .text > div a {width: 236px; height: 60px; margin-right: 5px; padding: 15px 88px;  border: 3px solid transparent; border-image: linear-gradient(to top, #ee4368, #f4c41a); border-image-slice: 1; color: #fff; box-sizing: border-box;  display: inline-block; white-space: nowrap;}
.cont15 > div:nth-child(odd) .text .quick .jquery {margin-top: 12px; display: inline-block;}

.cont15 > div:nth-child(even) {overflow: hidden; margin-bottom: 293px;}
.cont15 > div:nth-child(even) .text {float: left; flex: 0 0 30%;  display: inline-block;}
.cont15 > div:nth-child(even) .text h3{display: inline-block; font-size: 70px; background: linear-gradient(to top, #ee4368, #f4c41a) !important ; -webkit-background-clip: text !important; color: transparent; font-weight: bold;}
.cont15 > div:nth-child(even) .text p {width: 495px; height: 217px; margin-bottom: 36px; font-size: 22px; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}
.cont15 > div:nth-child(even) .text .quick {display: inline-block; margin-top: 20px;}
.cont15 > div:nth-child(even) .text .quick > div {margin-top: 5px;}
.cont15 > div:nth-child(even) .text .quick h4 {font-size: 25px; color: #999797; line-height: 1; margin-bottom: 5px;}
.cont15 > div:nth-child(even) .text .quick > div a {width: 236px; height: 60px; margin-right: 5px; padding: 15px 88px;  border: 3px solid transparent; border-image: linear-gradient(to top, #ee4368, #f4c41a); border-image-slice: 1; color: #fff; box-sizing: border-box;  display: inline-block; white-space: nowrap;}
.cont15 > div:nth-child(even) .text .quick .jquery {margin-top: 12px; display: inline-block;}
.cont15 > div:nth-child(even) iframe {border: 6px solid transparent; border-image: linear-gradient(to top, #ee4368, #f4c41a); border-image-slice: 1; box-sizing: border-box; float: left; width: 1007px; height: 557px; flex: 0 0 55%; display: inline-block; margin-left: 15px;}

.cont15 > div:last-child {margin-bottom: 0px;}

/* footer */
.ftop {position: relative;}
.ftop .ficon {}
.ftop .ficon img {}
.ftop .ficon img:nth-child(1) { position: absolute; right: 0; top: -400px; width: 377px; height: 324px;}
.ftop .ficon img:nth-child(2) {position: absolute; right: 10vw; top: 2vw; width: 229px; height: 229px;}
.ftop .ftitle {position: absolute; top: 0%; left: 35%; transform: translate(-30%, 15%); overflow: hidden;  font-size: 200px; }
.ftop .ftitle .pink {color:#ee4368; margin-bottom: -80px;}
.ftop .ftitle .yellow {margin-left: 80px; float: left; color: #f4c41a;}
.ftop .ftitle .white {float: left; color: #fff; margin-left: 20px;}

.fmid {display: flex; justify-content: space-between;}
.fmid .fright {flex: 0 0 40%; margin-top: 170px; display: inline-block;}
.fmid .fright h4 {font-size: 100px; color: #fff; white-space: nowrap;}
.fmid .fright h5 {font-size: 28px; color: #a9a9a9; white-space: nowrap; margin-left: 40px;}
.fmid .fleft {flex: 0 0 40%; margin-top: 150px;}
.fmid .fleft > div {font-size: 25px; border-bottom: 1px solid #fff; width: 638px; color: #a9a9a9; padding: 34px 0px 6px 0px;}
.fmid .fleft > div:first-child {color: #fff;}
.fmid .fleft a {font-family: 'Teko', sans-serif; font-size: 22px; margin-bottom: 150px; width: 154px; height: 50px; border: 1px solid #1b85e6; background: #1b85e6; padding: 7px 32px; box-sizing: border-box; color: #fff; display: inline-block; margin-top: 30px; display: flex; align-items: center; justify-content: center;}

.fbom {overflow: hidden; display: flex; flex-direction: column;}
.fbom .fb_top {margin-top: 65px; display: inline-block;}
.fbom .fb_top h5 { float: left; font-family: 'Six Caps', sans-serif; margin-top: 9px; font-size: 30px; line-height: 0.5; letter-spacing: 2.5px; color: #ECC448; margin-right: 100px;}
.fbom .fb_top ul {float: left; margin-right: 100px;}
.fbom .fb_top li { font-size: 18px; color: #887d7d; margin-bottom: 25px;}
.fbom .fb_top li a {color: #887d7d; }
.fbom .fb_top .contact a {font-family: 'Teko', sans-serif; font-size: 22px; margin-bottom: 150px; width: 154px; height: 50px; border: 1px solid #1b85e6; background: #1b85e6; padding: 7px 32px; box-sizing: border-box; color: #fff; display: inline-block; margin-top: 30px; display: flex; align-items: center; justify-content: center;}
.fbom .fb_top li:first-child a {font-size: 22px; color: #fff; width: 78px; border-bottom: 2px solid #fff;}
.fbom .fb_top li.white  {font-size: 22px; color: #fff;}
.fbom .fb_bom  {display: flex; text-align: center; margin-bottom: 87px;}
.fbom .fb_bom  ul {overflow: hidden;}
.fbom .fb_bom  li {padding: 8px; float: left; display: inline-block; border: 3px solid #fff; width: 63px; height: 50px; margin: 16px 12px; box-sizing: border-box;}
.fbom .fb_bom  address {display: inline-block; color: #fff; margin-top: 1.5vw}