/* scroll */
.scroll {
    position: fixed; right: 10px; bottom: 10px;
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 100000000;
}

/* layout */
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("https://i.postimg.cc/c4zCYgjS/Space-BG.png");
    background-attachment: fixed;
    background-size: cover;
}


#contents {
    width: 100%;
    overflow: hidden;
}
#section1 {
    height: 100vh;
    position: relative;
}

#section2 {
    height: 2000px;
}
#section3 {}
#section4 {}
#section5 {}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 10000;
}
#header h1 {
    padding: 20px;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    color: #ECC448;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#header nav ul {
    margin-right: 20px;
}
#header nav li {
    font-family: 'Staatliches', cursive;
    display: inline;
} 
#header nav li a {
    display: inline-block;
    padding: 35px;
    font-size: 18px;
    color: #fff;
}
#header nav li:last-child {
    background: #ee4368;
    padding-top: 2px;
}
/* 모바일 메뉴 */
#mNav {
    display: none;
    position: absolute;
    top: 10px;
    right: 14px;
}
.ham {
    display: block; 
    width: 30px; 
    height: 20px;
}
.ham span {
    position: relative;
    display: block; 
    width: 25px; 
    height: 4px; 
    background: #fff;
}
.ham span:before {
    content: '';
    width: 25px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0; bottom: -7px;
}
.ham span:after {
    content: '';
    width: 25px;
    height: 4px;
    background: #fff;
    left: 0; top: -7px;
}
@import url('https://fonts.googleapis.com/css?family=Kanit:800');

ul {
    height: 100%;
    width: 100%;
}

li {
    height: 100%;
    width: 100%;
}

img {
  width: auto;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scientist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 80px;
  white-space: nowrap;
  text-align: center;
  font-family: 'yg-jalnan';
}

.about {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  background-position: center;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background 500ms;
  text-decoration: none;
}

.about:hover {
  background: rgba(255, 255, 255,0.7) radial-gradient(circle, transparent 1%, rgba(255, 255, 255,0.7) 1%) center/15000%;
}

.about:active {
  background-color: rgb(255,255,255);
  background-size: 100%;
  transition: background 0s;
}

.about i {
  font-size: 1.5rem;
  color: rgb(255,100,100);
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.modal .modal__card {
  position: relative;
  background-color: rgb(255,255,255);
  padding: 3rem 5rem;
  transform: scale(0);
  transition: transform 500ms;
}

@media (max-width: 880px) {
    #header nav {
        display: none;
    }
    #mNav .ham {
        display: block;
    }
}
@media (min-width: 505px) {
  .modal .modal__card {
    border-radius: 1rem;
    width: 80%;
    height: 60%;
    max-width: 600px;
    min-height: 500px;
    overflow: hidden;
  }
}

.modal.active .modal__card {
  transform: scale(1);
}

.modal .modal__card p {
  margin: 2rem 0;
}

.modal .modal__card .modal__card__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 500ms;
  text-decoration: none;
  color: rgb(33,33,33);
  font-size: 2rem;
  border: 2px dashed;
  transition: color 500ms, transform 250ms;
}

.modal .modal__card .modal__card__close:hover {
  color: rgba(33,33,33,0.3);
}

.modal .modal__card .modal__card__close:active {
  transform: rotate(360deg);
}

/* sec1 */
.sec1 {
    height: 100vh;
}
.sec1 .text-wrap {
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-100%, -50%);
}
.sec1 .text-wrap span {
    font-family: 'Staatliches', cursive;
    font-size: 8vw;
    line-height: 8vw;
    position: relative;
    color: #ECC448;
}
.sec1 .text-wrap span::before {
    content: 'vip';
    position: absolute;
    left: -5vw; top: -6vw;
    color: #DC516A;
}
.sec1 .text-wrap span::after {
    content: 'girl';
    position: absolute;
    right: -10vw; bottom: -6vw;
    color: #fff;
}
.sec1-box {
    position: absolute;
    left: 0; top: 20%;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 1000px;
    z-index: 100;
}
.sec1-box img {
    position: relative;
    left: -30%;
    margin-top: -80px;
}
