#skip a {
    position: absolute;
    left: 0; 
    top: -100px;
    z-index: 10000;
    color: #000;
    border: 1px solid #fff;
    background: #fff;
    font-size: 18px;
    padding: 12px 24px;
    font-family: 'Chosunilbo_myungjo';
}
#skip a:focus,
#skip a:active {
    top: 0;
}
/* container */
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    z-index: 2000;
    width: 100%;
    color: #000;
    height: 82px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DAD8D1;
    background: #F0EEEB;
}
#header .site {
    flex: 1 1 30%;
}
#header .site a {
    position: relative;
    text-transform: capitalize;
    display: block;
    padding-left: 40px;
    border-right: 1px solid #DAD8D1;
    width: 175px;
    height: 82px;
    padding: 32px 27px 27px 60px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Rajdhani';
}
#header .site a::before {
    content: '';
    position: absolute;
    left: 48px; 
    top: 36px;
    width: 30px;
    height: 1px;
    background: #000;
}
#header .site a::after {
    content: '';
    position: absolute;
    left: 48px; 
    top: 46px;
    width: 30px;
    height: 1px;
    background: #000;
}
#header .logo {
    flex: 1 1 30%;
    text-align: center;
    font-family: "Saol Display Regular";
    font-size: 28px;
}
#header .logo a {
    padding: 0 10px 5px 10px;
}
#header .nav {
    flex: 1 1 30%;
    text-align: right;
}
#header .nav ul {
    padding-right: 20px;
}
#header .nav li {
    display: inline-block;
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Rajdhani', 'Chosunilbo_myungjo';
}
#header .nav li.active {
    text-decoration: underline;
}
#header .nav li a {
    display: block;
    font-size: 16px;
    font-family: 'Rajdhani', 'Chosunilbo_myungjo';
}
#header.black {
    background: #000;
    border-bottom: 1px solid #2E2E30;
    color: #fff;
}
#header.black .site a::before {
    background: #fff;
}
#header.black .site a::after {
    background: #fff;
}
#header.black .site a {
    border-right: 1px solid #2E2E30;
}
/* mainCont */
#mainCont {
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.mainTxet {
    font-size: 10vw;
    line-height: 9vw;
    font-family: "Saol Display Regular";
}
/* errorAlert */
.errorAlert {
    font-family: 'Chosunilbo_myungjo';
    font-size: 18px;
    text-align: center;
}
.errorAlert a {
    display: block;
    text-decoration: underline;
}
/* 회원가입 : signUp */
#signUpCont {
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Chosunilbo_myungjo';
}
.signUp {
    width: 300px;
}
.signUp h1 {
    text-align: center;
    font-size: 18px;
}
.signUp h1 strong {
    font-weight: normal;
    display: block;
}
.signUp .input-text {
    border: 1px solid #fff;
    background: #000;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    color: #fff;
}
.signUp .birth {
    display: flex;
    justify-content: space-between;
}
.signUp .birth > div {
    flex: 0 0 30%;
    text-align: center;
}
.signUp .birth > div label { 
    display: inline-block;
    margin-bottom: 10px;
}
.signUp .birth > div select { 
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
}
.signUp .signUpBtn {
    width: 100%;
    background: #fff;
    margin: 10px 0;
    padding: 15px;
}
.signUp .signDesc {
    text-align: center;
}
.signUp .signDesc a {
    text-decoration: underline;
}
/* 로그인 : logInCont */
#logInCont {
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Chosunilbo_myungjo';
}
.logIn {
    width: 300px;
}
.logIn h1 {
    text-align: center;
    font-size: 18px;
}
.logIn h1 strong {
    font-weight: normal;
    display: block;
}
.logIn .input-text {
    border: 1px solid #fff;
    background: #000;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    color: #fff;
}
.logIn .logInBtn {
    width: 100%;
    background: #fff;
    margin: 10px 0;
    padding: 15px;
}
.logIn .logInDesc {
    text-align: center;
}
.logIn .logInDesc a {
    text-decoration: underline;
}
/* board */
#boardCont {
    min-height: 100vh;
    background: #F0EEEB;
}
.whiteBoard {
    padding-top: 200px;
}
.whiteBoard h2 {
    font-family: 'Chosunilbo_myungjo';
    font-size: 30px;
    margin-bottom: 50px;
}
.whiteBoard label {
    display: block;
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    margin-bottom: 5px;
}
.whiteBoard .title-text {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
    padding: 10px;
    font-family: 'S-CoreDream-3Light';
    margin-bottom: 30px;
}
.whiteBoard .writeBoardBtn {
    background: #000;
    color: #fff;
    border-radius: 5px;
    float: right;
    padding: 10px 30px;
    font-family: 'S-CoreDream-3Light';
}
.saveBoard {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info */
.info {
    width: 400px;
    border: 1px solid #dad8d1;
    text-align: center;
    padding: 60px 30px;
}
.info p {
    font-family: 'Chosunilbo_myungjo';
    font-size: 30px;
}
.info a {
    font-family: 'Chosunilbo_myungjo';
    font-size: 16px;
    text-decoration: underline;

}

/* board */
#listBoard {
    height: 100vw;
}
.listBoard {}
.listBoard .box { 
    margin-top: 70px; 
    margin-right: 0; 
    margin-left: 800px; 
    margin-bottom: 20px;
}
.listBoard .box .searchWord {
    width: 203px; height: 40px; 
    padding: 2px; 
    border: 1px solid #000; 
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    padding: 2px 5px;
}
.listBoard .box .searchBtn {
    width: 93px; height: 36px; 
    border: 1px solid #000; 
    border-radius: 2px; 
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
}
.listBoard .box .searchBtn {
    width: 65px; height: 36px; 
    border: 1px solid #000; 
    border-radius: 2px; 
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
}
.listBoard .box .writeBtn {
    width: 82px; height: 36px; 
    background: #000; 
    border-radius: 2px; 
    color: #fff; 
    font-family: 'S-CoreDream-3Light'; 
    font-size: 16px;
}

.listBoard table {

}
.listBoard table thead {
    border-bottom: 2px solid #000; 
    border-top: 2px solid #000;
    width: 1273px;
}
.listBoard table thead .th_sec {
    padding: 15px;
    font-family: 'S-CoreDream-3Light'; 
    font-size: 16px; font-weight: 500; 
    display: inline-block;
}
.listBoard table thead .th_sec .th_num {
    padding-right: 350px;
}
.listBoard table thead .th_sec .th_title {
    padding-right: 540px;
}
.listBoard table thead .th_sec .th_name {
    padding-right: 120px;
}
.listBoard table thead .th_sec .th_date {

}

.listBoard table tbody tr {
    font-family: 'S-CoreDream-3Light';  
    font-size: 16px; font-weight: 300; 
    overflow: hidden; padding: 15px; 
    border-bottom: 1px solid #000; 
    display: inline-block;
    width: 1273px;
}
.listBoard table tbody tr .num {float: left; margin-right: 50px;}
.listBoard table tbody tr .title {float: left; margin-right: 600px;}
.listBoard table tbody tr .name {float: left; margin-right: 50px;}
.listBoard table tbody tr .date {float: left; }

.listBoard ul {
    overflow: hidden; 
    margin-top: 30px; 
    margin-left: 500px;
}
.listBoard li {
    float: left; width: 38px; 
    height: 46px; 
    border: 1px solid #bababa; 
    padding: 15px;
}
.listBoard li.active {background: #424242; color: #fff;}